.btn.btn-primary {
    background: #f0ad4e none repeat scroll 0 0;
    background-color: none !important;
    border-color: #f0ad4e;
    color: #ffffff;
    width: 100%;
    height: 50px;
    padding: 0;
    background-color: #ff8a00;
    font-size: 18px;
    line-height: 1.33;
    background-image: none !important;
  }

  .navbar.navbar-default >.container{
    margin-left : 0px;
    margin-right: 0px;
    max-width: 1800px;
 }

  .btn {
    height:20px;
	  width:100px;
  }

  a.white {
    color:white !important;
  }

  button.white{
    color: white;
  }
.dropdown-toggle{
    width: 10px;
}